<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>確認</title>
</head>

<body>
	<h2>確認</h2>

	<p>タレント名: <span th:text="${talentForm.talentName}"></span></p>
	<p>好きな理由: <span th:text="${talentForm.reason}"></span></p>

	<form th:action="@{/talent/complete}" method="post" th:object="${talentForm}">
		<input type="hidden" th:field="*{talentName}">
		<input type="hidden" th:field="*{reason}">
		<button type="submit">確定</button>
	</form>

	<form th:action="@{/talent}" method="get" th:object="${talentForm}">
		
		<input type="hidden" name="talentName" th:field="*{talentName}">
		<input type="hidden" name="reason"     th:field="*{reason}">
		<button type="submit">修正</button>
		
	</form>


	
</body>

</html>