<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タレント入力</title>
</head>
<body>

    <h2>タレント入力</h2>

    <form th:action="@{/talent/confirm}" method="post" th:object="${talentForm}">
        <input type="hidden" th:field="*{id}">
        
        <div>
            <label th:for="talentName">タレント名:</label>
            <input type="text" th:field="*{talentName}">
            <div th:errors="*{talentName}" style="color:red"></div>
        </div>
        <br>

        <div>
            <label th:for="reason">好きな理由:</label>
            <input type="text" th:field="*{reason}">
            <div th:errors="*{reason}" style="color:red"></div>
        </div>
        <br>
        
        <button type="submit">確認画面へ</button>
    </form>

    <hr>
    <a th:href="@{/talent/list}">一覧に戻る</a>
</body>
</html>